@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

:root {
    --bg-color: rgba(43, 43, 43, 0.8);
    --btn-hover-color: rgba(255, 253, 150, 0.7);
    --hover-width: 75%;
    --other-width: 25%;
    --speed: 1000ms;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
    overflow: hidden;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 4rem;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 70%;
    transform: translateX(-50%);
    text-decoration: none;
    color: white;
    border: white solid 0.2rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    width: 15rem;
    padding: 1.5rem;
}

.split.left .btn:hover {
    background-color: var(--btn-hover-color);
    border-color: var(--btn-hover-color);
}

.split.right .btn:hover {
    background-color: var(--btn-hover-color);
    border-color: var(--btn-hover-color);
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    background: #333;
}

.split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.split.left {
    left: 0;
    background: url("https://mfiles.alphacoders.com/794/794911.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.split.left::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
}

.split.right {
    right: 0;
    background: url("https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/a3b91a23049675.5631c7536894d.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.split.right::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
}

.split.right,
.split.left,
.split.right::before,
.split.left::before {
    transition: all var(--speed)
}

.hover-left .left {
    width: var(--hover-width);
}

.hover-left .right {
    width: var(--other-width);
}

.hover-right .right {
    width: var(--hover-width);
}

.hover-right .left {
    width: var(--other-width);
}